.fases__containerParagrafo {
    color: #220F71;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    height: 108px;
    line-height: 30px;
    text-align: left;
    margin: 0;
    margin-top: 34px;
}


.fases__container:nth-child(1) > .fases__containerConteudo > .fases__containerParagrafo {
    width: 582px;
    height: 90px;
}

.fases__container:nth-child(2) > .fases__containerConteudo > .fases__containerParagrafo {
    width: 545px;
    height: 50px;
    margin-right: 122px;
    line-height: 23px;
}

.fases__container:nth-child(3) > .fases__containerConteudo > .fases__containerParagrafo {
    width: 551px;
    height: 100px;
    line-height: 30px;
}

.fases__container:nth-child(4) > .fases__containerConteudo > .fases__containerParagrafo {
    background-color: blueviolet;
}
